* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: 'Noto Sans KR', sans-serif;
  margin: 0;
  cursor: default;
  background-color: var(--color-lightGray);
}

li {
  list-style: none;
}

img {
  display: inline;
}

a {
  text-decoration: none;
  color: var(--color-black);
  cursor: pointer;
}

.icon__hidden {
  overflow: hidden;
  display: inline-block;
  border: 0;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
}

/* header */
.header {
  box-sizing: border-box;
  width: 100%;
  margin-top: 15px;
}

.header .inner {
  display: flex;
  justify-content: space-between;
  position: relative;
  max-width: 1700px;
  margin: 0 auto;
}

.header__logo {
  width: 150px;
}

/* header__nav */
.header__nav {}

.header__nav .nav {}

.nav__main-menu {
  display: inline-block;
  text-align: center;
  margin: auto 0;
}

.nav__main-menu__name {
  width: 197px;
  height: 100px;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 100px
}

.nav__main-menu__content {
  width: 100%;
  height: 100%;
  visibility: hidden;
}

.content__menu {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.header__nav .nav:hover .content__menu {
  width: 100%;
  height: 100%;
  visibility: visible;
  color: black;
}

.header__nav .nav:hover .content__menu+.header__box {
  opacity: 1;
}

.content__menu {
  position: relative;
}


.content__menu__discription {
  width: 100%;
  height: 200px;
  font-size: 1.6rem;
  font-weight: 400;
  text-align: center;
  padding-top: 40px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
}

.content__menu+.header__box {
  width: 100%;
  height: 300px;
  position: absolute;
  top: 120px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  background-color: bisque;
  border: 1px solid red;
  opacity: 0;
}





.button-maun {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto 0;
}