* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: 'Noto Sans KR', sans-serif;
  margin: 0;
  cursor: default;
}

li {
  list-style: none;
}

img {
  display: inline;
}

a {
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}

.icon__hidden {
  overflow: hidden;
  display: inline-block;
  border: 0;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
}

/* header */
.header {
  box-sizing: border-box;
  width: 100%;
  margin-top: 5px;
  position: fixed;
  z-index: 1999;
}

.header::after {
  content: "";
  width: calc(100% - 90px);
  display: block;
  position: absolute;
  left: 0;
  top: 104px;
  background: #fff;
  opacity: 0.2;
  z-index: 10;
  height: 1px;
}

.header .inner {
  display: flex;
  justify-content: space-between;
  position: relative;
  max-width: 1700px;
  margin: 0 auto;
}

.header__logo {
  width: 150px;
  padding: 12px;
  margin: auto 0;
}

/* header__nav */
.header__nav {}

.header__nav .nav {}

.nav__main-menu {
  display: inline-block;
  text-align: center;
  margin: auto 0;
}

.nav__main-menu__name {
  width: 197px;
  height: 100px;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 100px;
}

.nav__main-menu__name .anchor {
  color: black;
}

.nav__main-menu__content {
  width: 100%;
  height: 100%;
  visibility: hidden;

}

.content__menu {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;

}

.header__nav .nav:hover .content__menu {
  width: 100%;
  height: 100%;
  visibility: visible;
  color: #fff;
}

.nav__main-menu:hover,
.nav__main-menu:hover .content__menu__discription {
  background-color: darkblue;
  color: white;
}

.nav__main-menu:hover .nav__main-menu__name .anchor,
.nav__main-menu:hover,
.nav__main-menu:hover .content__menu__discription .anchor {
  color: white;
}

.content__menu {
  position: relative;
}

.content__menu .anchor {
  color: black;
}

.content__menu__discription {
  width: 100%;
  height: 400px;
  font-size: 1.6rem;
  font-weight: 400;
  text-align: center;
  padding: 40px 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
}

.content__menu__discription .list {
  margin-bottom: 32px;
}

.button-maun {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto 0;
}

.button-maun__item {
  width: 64px;
  height: 64px;
  border: 1px solid #fff;
  text-align: center;
  border-radius: 50%;
  margin-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  transition: all .8s;
}

.button-maun__item.search {
  font-size: 20px;
  background-color: #002957;
  border: #002957;
}

.button-maun__item:hover {
  background-color: #002957;
  border: #002957;
}

.material-icons {
  margin-bottom: 4px;
  display: block;
}

/* swiper */
.swiper {
  width: 100vw;
  height: 100vh;
}

.swiper-slide {
  height: 100%;
  margin: 0;
  position: relative;
}

.swiper-pagination-vertical.swiper-pagination-bullets,
.swiper-vertical>.swiper-pagination-bullets {
  position: fixed;
  height: calc(90px - 100vw);
  right: 90px;
}

.swiper-autoheight,
.swiper-autoheight .swiper-slide {
  height: 100vh;
  margin: 0;
}

.item-slise {
  overflow: hidden;
}

.item-slise .item-slise__bg {
  position: absolute;
  background-image: url(./img/main/mainVisual01_3.jpg);
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  transform: scale(1.4);
  transition: all 4s;
  z-index: -1;
}

.item-slise__text-arear {
  width: 100%;
  height: 100%;
  margin-top: 330px;
}

.item-slise__text-arear .inner {
  width: 1090px;
  margin: 0 auto;
  transform: translate(0);
  position: relative;
}

.item-slise__text-arear .title {
  font-size: 8rem;
  font-weight: 500;
  line-height: 1.1;
  color: #fff;
}

.item-slise__text-arear .text {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2;
  display: inline-block;
  margin-top: 40px;
  color: #fff;
  margin-right: 10px;
}

.item-slise__text-arear .point {
  color: #01b4e5;
}

/* item-slise list-pagination 버튼 수정*/
.swiper-pagination-bullet {
  border: 1px solid #fff;
  width: 14px;
  height: 14px;
  background: none;
  font-weight: 300;
}

.swiper-pagination-bullet-active {
  background-color: #fff;
  width: 48px;
  height: 14px;
  border-radius: 20px;
}

.swiper-pagination-bullets.swiper-pagination-horizontal {
  width: auto;
  height: 20px;
  position: absolute;
  top: 370px;
  left: 0;
}