* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: 'Noto Sans KR', sans-serif;
  margin: 0;
  cursor: default;
}

li {
  list-style: none;
}

img {
  display: inline;
}

a {
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}

.inner {
  width: 1090px;
  margin: 0 auto;
  position: relative;
}

.icon__hidden {
  overflow: hidden;
  display: inline-block;
  border: 0;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
}

.bg {
  position: absolute;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}

/* header */
.header {
  box-sizing: border-box;
  width: 100%;
  margin-top: 5px;
  position: fixed;
  z-index: 1999;
}

.header::after {
  content: "";
  width: calc(100% - 88px);
  display: block;
  position: absolute;
  left: 0;
  top: 104px;
  background: #fff;
  opacity: 0.2;
  z-index: 10;
  height: 1px;
}


.header__inner {
  max-width: 1700px;
  margin: 0 auto;
}

.header__logo {
  width: 150px;
  padding: 12px;
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 100;

}

/* header__nav */
.header__nav {
  position: relative;
  z-index: 1;
}

.header__nav .nav {
  display: flex;
  justify-content: center;
  align-items: stretch;
  height: 100%;
  margin: 0 auto;
  text-align: center;
}

.nav__main-menu {
  text-align: center;
  position: relative;
  z-index: 2;
}

.nav__main-menu__name {
  width: 197px;
  height: 100px;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 100px;
}

.nav__main-menu__content {
  width: 100%;
  height: 100%;
  visibility: hidden;

}

.content__menu {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

.header__nav .nav::after {
  content: '';
  opacity: 0;
}

.header__nav .nav:hover:after {
  content: '';
  width: 500%;
  height: 102%;
  position: absolute;
  background-color: #fff;
  left: 50%;
  transform: translateX(-50%);
  transition: all .2s;
  top: 0;
  z-index: 1;
  opacity: 1;
}


.header__nav .nav:hover .content__menu {
  width: 100%;
  height: 100%;
  visibility: visible;
}

.header__nav .nav:hover .nav__main-menu:hover {
  background-color: #002957;
}

.header__nav .nav:hover .nav__main-menu__name .anchor {
  color: black;
}

.header__nav .nav .nav__main-menu:hover .anchor {
  color: #fff;
}


.nav__main-menu:hover .content__menu__discription {
  background-color: #002957;
  color: #fff;
  transition: ease 4s;
}

.nav__main-menu:hover .content__menu {
  height: auto;
}

.nav__main-menu:hover .content__menu__discription .anchor {
  color: #fff;
}


.content__menu {
  position: relative;
  height: 0;
}

.content__menu .anchor {
  color: black;
}

.content__menu__discription {
  width: 100%;
  font-size: 1.6rem;
  font-weight: 400;
  text-align: center;
  padding-top: 40px;
  top: 0;
  bottom: 0;
  left: 0;
}

.content__menu__discription .list {
  margin-bottom: 32px;
}

/* header__side-maun */
.header__side-maun {
  position: absolute;
  top: 0;
  right: 120px;
  z-index: 10;
  margin-top: 20px;
}

.button-maun {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto 0;
  z-index: 100;
}

.button-maun__item {
  width: 64px;
  height: 64px;
  border: 1px solid #fff;
  text-align: center;
  border-radius: 50%;
  margin-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  transition: all .8s;
}

.button-maun__item.search {
  font-size: 20px;
  background-color: #002957;
  border: #002957;
}

.button-maun__item.store:hover {
  background-color: #002957;
  border: #002957;
}

.button-maun__item.infra:hover {
  background-color: rgb(1, 180, 229);
  border: rgb(1, 180, 229);
}

.material-icons {
  margin-bottom: 4px;
  display: block;
}

/* swiper */
.swiper {
  width: 100%;
  height: 100vh;
}

.swiper-slide {
  width: 100%;
  height: 100%;
  margin: 0;
  position: relative;
}

.swiper-autoheight,
.swiper-autoheight .swiper-slide {
  height: 100vh;
  margin: 0;
}

.item-slise {
  overflow: hidden;
}

.item-slise .item-slise__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  transform: scale(1.4);
  transition: all 4s;
  z-index: -1;
}

.item-slise .item-slise__bg-1 {
  background-image: url(./img/main/mainVisual01_3.jpg);
}

.item-slise__bg-2 {
  background-image: url(./img/main/mainVisual02.jpg);
}

.item-slise__bg-3 {
  background-image: url(./img/main/mainVisual03_3.jpg);
}

.item-slise__bg-4 {
  background-image: url(./img/main/mainVisual04.jpg);
}

.item-slise__text-arear {
  width: 100%;
  /* height: 100%; */
  margin-top: 330px;
}

.item-slise__text-arear .inner {
  transform: translate(0);
  position: relative;
}

.item-slise__text-arear .title {
  font-size: 8rem;
  font-weight: 500;
  line-height: 1.1;
  color: #fff;
}

.item-slise__text-arear .text {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2;
  display: inline-block;
  margin-top: 40px;
  color: #fff;
  margin-right: 10px;
}

.item-slise__text-arear .point {
  color: #01b4e5;
}

/* products */
.products {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  background-image: url(./img/produts/product_bg.jpg);
}

.products__wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.products__text-arear {
  text-align: center;
}

.products__text-arear .title {
  font-size: 7rem;
  font-weight: 700;
  color: #fff;
  margin-bottom: 40px;
}

.products__text-arear .text {
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 28px;
  color: #fff;
  margin-top: 40px;
}

.box-slide {
  width: 1100px;
  overflow: hidden;
  margin: 0 auto;
  margin-top: 70px;
}

.box-slide .box-slide__list {
  /* width: 298px; */
  height: 455px;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;

}


.box-slide__list .swiper-slide-active {
  width: 500px;
}


.box-slide__item .products-box {
  width: 298px;
  height: 300px;
  background-color: #fff;
  overflow: hidden;

}

.box-slide__list .swiper-slide-active .products-box {
  width: 100%;
  height: 455px;
  background-color: #002957;
  padding: 50px 60px;
}

.products-box .text-arear .title {
  font-size: 4rem;
  font-weight: 700;
  color: #15181b;
}

.products-box .text-arear .text {
  color: #15181b;
  font-size: 1.6rem;
  line-height: 24px;
  margin-top: 24px;
  position: relative;
}

.products-box .info {
  color: #15181b;
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  border-top: 2px solid #fff;
}

.products-box .info .item {
  width: 50%;
  position: relative;
  border-bottom: 1px solid rgba(255, 255, 255, .2);
  padding: 0 12px;

}

.products-box .info .item::after {
  content: "";
  height: 10px;
  border: 1px solid #fff;
  position: absolute;
  top: 40%;
  right: 0;
  opacity: .2;
}

.products-box .info .anchor {
  font-size: 1.4rem;
  line-height: 45px;
  color: #15181b;
}

.products-box .info .anchor::after {
  content: url(./img/produts/main_pd_arr.png);
  position: absolute;
  right: -12px;
  opacity: 0;
  transition: all .4s;
}

.products-box .info .anchor:hover:after {
  opacity: 1;
  right: 12px;
}



/* Company */
.company {
  background-image: url(./img/company/comp_bg.jpg);
}

.company__box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.companu__container {
  width: 100%;
}

.container__text-arear {
  width: 100%;
}

.container__text-arear .title {
  font-size: 7rem;
  font-weight: 500;
  display: inline-block;
  margin-right: 60px;
}

.container__text-arear .text {
  display: inline-block;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 30px;
}

.container__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

.container__item .item {
  width: 260px;
  height: 400px;
  overflow: hidden;
  margin-top: 90px;
  position: relative;
}

.container__item .item .title {
  color: #fff;
}

.companu__container ul li:nth-child(1) {
  background-image: url(./img/company/comp_img01.jpg);
}

.companu__container ul li:nth-child(2) {
  background-image: url(./img/company/comp_img02.jpg);
}

.companu__container ul li:nth-child(3) {
  background-image: url(./img/company/comp_img03.jpg);
}

.companu__container ul li:nth-child(4) {
  background-image: url(./img/company/comp_img04.jpg);
}

.container__item .item .title {
  font-size: 3rem;
  font-weight: 700;
  margin-top: 80px;
  display: inline-block;
}

.container__item .item .button {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 70px;
  margin: auto;
  width: 72px;
  height: 72px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 1.2rem;
  transition: all .4s;
}

.container__item .item .button:hover {
  background-color: #01b4e5;
}

.products__swiper {
  margin-top: 70px;
}

/* CAREER */
.career {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(./img/career/career_bg.jpg);
}

.career__wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.career__container {
  width: 100%;
  margin: auto;
}


.career__text-arear {
  text-align: center;
}

.career__text-arear .title {
  font-size: 7rem;
  font-weight: 700;
  color: #fff;
  margin-bottom: 40px;
}

.career__text-arear .text {
  font-size: 1.8rem;
  line-height: 28px;
  font-weight: 300;
  color: #fff;
  text-align: center;
}

.content__box {
  max-width: 1400px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  margin-top: 40px 0;
}

.content__box__list {
  width: 25%;
  height: 100%;
  margin-top: 140px;
  position: relative;
}

.content__box__list:hover .content__box__list-box {
  transform: translateY(-40px);
  transition: all 1s;
}

.content__box__list:hover .button {
  background-color: #01b4e5;
}


.content__box__list-box .text-arear .title {
  font-size: 3rem;
  font-weight: 700;
  margin-top: 30px;
}

.content__box__list-box .text-arear .text {
  margin-top: 30px;
  line-height: 26px;
  font-weight: 300;
  font-size: 1.6rem;
  display: inline-block;
}

.content__box__list .button {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -140px;
  margin: auto;
  width: 72px;
  height: 72px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 1.2rem;
  transition: all .4s;
}

/* PRCONTER */
.prconter {
  background-color: #eff3f8;
}

.prconter__box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.content__container {
  width: 100%;
}

.content__text-arear {
  width: 100%;
}

.content__text-arear .title {
  font-size: 7rem;
  font-weight: 500;
  display: inline-block;
  margin-right: 60px;
}

.content__text-arear .text {
  display: inline-block;
  font-size: 1.8rem;
  font-weight: 300;
}

.content__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 90px;
}

.content__container__box {
  width: 280px;
  background-color: #fff;
  margin-right: 20px;
}

.content__container__box:hover .img img {
  transform: scale(1.09);
  transition: all 1s;
}


.content__container__box .img {
  height: 200px;
  position: relative;
  overflow: hidden;
}

.content__container__box .img img {
  position: absolute;
  top: 5%;
  left: 0;
  right: 50%;
  max-height: 100%;
}

.content__container__box .text-arear,
.fdf .text-arear {
  padding: 30px;
}

.content__container__box .text-arear .title,
.pdf .text-arear .title {
  font-size: 1.6rem;
  line-height: 20px;
  color: #333;
  margin-bottom: 20px;
  height: 30px;
}

.content__container__box .text-arear .point,
.pdf .text-arear .point {
  color: #01b4e5;
}

.content__container__box .text-arear .text {
  margin-bottom: 32px;
  height: 50px;
  color: #333;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: -0.5px;
  font-size: 1.6rem;
}

.content__container__box .text-arear .day {
  font-size: 1.4rem;
  color: #999;
}

.content__container__box .icon {
  color: #999;
  font-size: 1.2rem;
  margin-left: 4px;
  text-align: center;
}

.fdf:hover img {
  transform: translateY(-10%);
}

.fdf__img {
  width: 100%;
  height: 200px;
  background-color: #00265b;
  position: relative;
}

.fdf__img img {
  position: absolute;
  top: 40px;
  left: 0;
  right: 0;
  margin: 0 auto;
  transition: all .8s;
}

/* life */
.life {
  background-image: url(./img/life/life_bg.jpg);
  padding-top: 66px;
  width: 100%;
  height: auto;
}

.life__warpper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto 0;
  height: 100%;
}

.life__warpper .inner {
  display: flex;
  justify-content: space-between;
}

.life__text-arear {
  padding-top: 50px;
}

.life__text-arear .title {
  font-size: 7rem;
  font-weight: 700;
  color: #fff;
}

.life__text-arear .text {
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 28px;
  color: #fff;
  margin-top: 30px;
}

.life__container .item {
  width: 300px;
  height: 300px;
  border: 1px solid rgba(255, 255, 255, .7);
  padding: 40px;
  position: relative;
  transition: all .4s;
}

.container__box2 .item:nth-last-child(1) {
  background-color: rgba(255, 255, 255, .2);
  border: 1px solid rgba(139, 69, 69, 0.2);
}

.life__container .text-box {
  text-align: bottom;
  position: absolute;
  bottom: 40px;
}

.life__container .text-box .title {
  font-size: 3.6rem;
  font-weight: 700;
  margin-bottom: 20px;
}

.life__container .text-box .text {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 20px;
}

.life__container .item .moreView {
  display: block;
  text-align: right;
  font-size: 1.2rem;
  padding-right: 24px;
  background: url(./img/life/youyube_icon_w.png);
  background-repeat: no-repeat;
  background-position: right center;
}

.container__box1 {
  display: flex;
  justify-content: flex-end;
}

.container__box2 {
  display: flex;
}

.life__container .item:hover {
  border: 1px solid #01b4e5;
}

.life__container .item:hover .moreView {
  background: url(./img/life/youyube_icon_blue.png);
  background-repeat: no-repeat;
  background-position: right center;
}

/* footer */
.footer {
  width: 100%;
}

.top__box {
  display: flex;
  justify-content: space-between;
  text-align: left;
}

.top__box__list {
  width: 20%;
  padding: 40px 36px;
}

.top__box__list .title {
  margin-bottom: 20px;
}

.top__box__list .title .anchor {
  color: #333;
  font-size: 1.6rem;
  font-weight: 500;
}

.top__box__list .list li {
  margin-bottom: 18px;
}

.top__box__list .list li .anchor {
  color: #333;
  font-size: 1.4rem;
  font-weight: 200;
}

/* footer__bottom */
.footer__bottom {
  background-color: rgb(30, 35, 39);
  padding: 46px 40px;
}

.bottom__inner {
  max-width: 1700px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.bottom__logo {
  box-sizing: border-box;
}

.bottom__logo .footer-img {
  max-width: 100%;
}

.bottom__container .title {
  color: #fff;
  font-size: 1.6rem;
  font-weight: 400;
  margin-bottom: 26px;
}

.contact__text .item {
  display: flex;
  color: #fff;
}

.contact__text .item .tit {
  font-size: 1.4rem;
  width: 64px;
  margin-bottom: 20px;
}

.contact__text .item .text {
  font-size: 1.4rem;
  color: #fff;
  opacity: .6;
}

.follow__icon {
  display: flex;
}

.follow__icon .anchor {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 15px;
  transition: all .5s ease 0s;
}

.follow__icon .anchor:hover {
  background: rgb(1, 180, 229);
}

.family {
  width: 220px;
  margin-right: 306px;
}

.family__button-box {
  position: relative;
}

.family__button {
  width: 100%;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: rgb(128, 131, 133);
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 0 18px;
}

.family__discroption {
  width: 100%;
  height: auto;
  visibility: hidden;
  transition: all .4s;
  opacity: 0;
  position: absolute;
}

.family__discroption .text {
  color: rgb(255, 255, 255);
  padding: 10px 18px;
  display: block;
  font-size: 14px;
}

.family__discroption .list {
  padding: 10px 0;
  background-color: rgb(0, 0, 0);
}

.family__discroption.show {
  visibility: visible;
  opacity: 1;
}

.family__discroption.show .list:hover {
  background: rgb(1, 180, 229);
}


.footer__info {
  width: 100%;
  background-color: #15181b;
  width: 100%;
}

.footer__info__inner {
  max-width: 1700px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding: 16px 0;
}

.footer__info__day {
  color: #fff;
  opacity: .5;
  font-size: 1.2rem;
}

.footer__info__user-manu {
  display: flex;
  font-size: 1.2rem;
}

.user-manu-item {
  margin-right: 24px;
  opacity: .5;
}

/* main-page__pagination 버튼 수정*/
:root {
  --swiper-pagination-bullet-width: 5px;
  --swiper-pagination-bullet-height: 5px;
  --swiper-pagination-bullet-inactive-color: #fff;
  --swiper-theme-color: #fff;
  --swiper-pagination-bullet-inactive-opacity: 1;
  --swiper-pagination-bullet-vertical-gap: 20px;
}

.main-page__pagination {
  position: absolute;
  width: 72px;
  height: calc(100% - 98px);
  bottom: 0;
  right: 63px;
  z-index: 99;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.main-page__pagination.swiper-pagination-vertical.swiper-pagination-bullets .swiper-pagination-bullet,
.main-page__pagination.swiper-vertical>.swiper-pagination-bullets .swiper-pagination-bullet {
  transition: width 0.5s linear, height 0.5s linear;
}


.main-page__pagination.swiper-pagination-vertical.swiper-pagination-bullets .swiper-pagination-bullet-active,
.main-page__pagination.swiper-vertical>.swiper-pagination-bullets .swiper-pagination-bullet-active {
  width: 80px;
  height: 80px;
}

.main-page__pagination.swiper-pagination-vertical.swiper-pagination-bullets .swiper-pagination-bullet-active {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  white-space: pre-line;
  border: 1px solid #eee;
  transition: all .4s;
  text-align: center;
}

.main-page__pagination.swiper-pagination-vertical.swiper-pagination-bullets .swiper-pagination-bullet-active span {
  opacity: 1;
}

.swiper-pagination-bullet span {
  opacity: 0;
}

.main-page__pagination.swiper-pagination-vertical.swiper-pagination-bullets,
.main-page__pagination.swiper-vertical>.swiper-pagination-bullets {
  right: 63px;
  top: auto;
  transform: none;
}

.main-page__pagination:before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  width: 1px;
  height: 100%;
  transform: translateX(-50%);
  background-color: rgba(255, 255, 255, 0.2);

}


/* item-slise list-pagination 버튼 수정*/
.list-pagination.swiper-pagination .swiper-pagination-bullet {
  border: 1px solid #fff;
  width: 14px;
  height: 14px;
  background: none;
  opacity: 1;
}

.list-pagination.swiper-pagination .swiper-pagination-bullet-active {
  background-color: #fff;
  width: 48px;
  height: 14px;
  border-radius: 20px;
}

.swiper-pagination-bullets.swiper-pagination-horizontal {
  width: auto;
  height: 20px;
  position: absolute;
  top: 390px;
  left: 0;
}

.list-pagination {
  position: relative;
}

.list-button-next {
  position: absolute;
  top: 397px;
  left: 160px;
  opacity: 1;
}

.list-button-prev {
  position: absolute;
  top: 397px;
  left: 130px;
  opacity: 1;
}

.list-button-next::after {
  content: "next";
  font-size: 11px;
  color: #fff;
}

.list-button-prev::after {
  content: "prev";
  font-size: 11px;
  color: #fff;
}

.swiper-button-prev.swiper-button-disabled {
  opacity: 1;
}

/* @media screen (max-width: 1366px) {
  .header {
    max-width: 1024px;
  }

  .header__inner {
    max-width: 1024px;
  }


} */